<div class=company_card>
  <div class="company_card-content">
    <% if company.cover.attached? %>
      <%= image_tag company.cover, alt: "company cover" %>
    <% else %>
     <p> No image </p>
    <% end %>
    <h2><%= company.name%></h2>
    <p><span><%= "#{company.start_date.year} - #{company.country}"%></span></p>
    <p><%= company.description %></p>
  </div>
  <div class="comapny_card-footer">
    <p><span><%= company.games_count %> Games</span></p>
    <%= link_to "Edit", edit_company_path(company) %>
    <%= button_to "Delete", company, method: :delete%>
  </div>
</div>
